@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  /* COLORS */
  --color-primary: #222222;
  --color-secondary: #7b7b7b;
  --color-tertiary: #f8f8f8;
  --color-white: #ffffff;

  /* FONTS */
  --font-montserrat: "Montserrat", "Public Sans", sans-serif;
  --font-public-sans: "Public Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-public-sans);
  font-weight: 700;
  margin: 0;
}

body {
  font-size: 18px;
  font-family: var(--font-montserrat);
  font-weight: 300;
  line-height: 1.5rem;
  background-color: var(--color-tertiary);
}

button {
  cursor: pointer;
}

@layer base {
}

@layer components {
}

@layer utilities {
}
